@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
body {
  font-family: "Playfair Display", serif;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.block .tag {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: #b4ad9e;
  font-size: 14px;
}

nav {
  margin-top: 75px;
  margin-bottom: 100px;
  text-align: center;
}

li {
  color: blueviolet;
  display: inline-block;
  text-transform: uppercase;
  margin-left: 70px;
  margin-right: 70px;
  font-size: 16px;
}

ul {
  display: block;
}

li a {
  color: #626262;
  text-decoration: none;
}

ul li:first-child > a {
  color: #03a9f4;
  font-weight: bold;
}

.block {
  vertical-align: top;
  display: inline-block;
  width: 420px;
  height: 615px;
  color: #626262;
  margin: 0px 30px 0px 30px;
}

.block img {
  width: 420px;
  height: 280px;
}
.title {
  font-size: 30px;
}
.desc {
  font-size: 14px;
  line-height: 24px;
}
.btn {
  padding: 20px 30px;
  font-family: "Playfair Display";
  background-color: #ffffff;
  color: #626262;
  font-size: 20pt;
  border-color: #cbcbcb;
  border-width: 1px;
  border-radius: 0px;
  border-style: solid;
}

footer {
  text-align: center;
  margin-top: 56px;
  margin-bottom: 56px;
}
